{% extends "base.html.twig" %}

{% block body %}
<h1>Home</h1>

<ul>
    {% for route in routes %}
        <li>
            <a href="{{ url(route) }}">{{ route }}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}